.btn {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 2.5rem;
  font-weight: 800;
  color: $color-primary;
  transition: 0.3s all;
  padding: 1rem;

  &__image {
    width: 3rem;
    margin: 0 1rem 0 0;
  }
}
