.signin {
  background-image: url("../../assets/images/bg.png");

  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__signin {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__form {
        margin: 2rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
