@import url('https://fonts.googleapis.com/css2?family=Poppins');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: $color-background;
    color: $color-primary;

    &::selection {
        color: $color-secondary;
    }
}

@include selectionTextGlobal;
